@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('http://hb.bizmrg.com/fonts/montserrat/700.woff2') format('woff2'), url('http://hb.bizmrg.com/fonts/montserrat/700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}  